# ==========================================
# 1. Carpetas de compilación de .NET
# ==========================================
bin/
obj/
publish/

# ==========================================
# 2. Archivos de entorno y configuraciones de seguridad
# ==========================================
.env
appsettings.Development.json
appsettings.Production.json

# ==========================================
# 3. Bases de datos locales (Archivos viejos por si acaso)
# ==========================================
*.db
*.db-shm
*.db-wal

# ==========================================
# 4. Archivos de tu editor de código (VS Code / Visual Studio)
# ==========================================
.vscode/
.vs/
*.user